@charset "utf-8";
// 顶部导航
.site-topbar {
    width: 100%;
    background-color: #333;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    a {
        color: #b0b0b0;
        line-height: 40px;
        display: inline-block;
        padding: 0 3px;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    .container {
        width: 1226px;
        margin: 0 auto;
        .topbar-nav {
            float: left;
            color: #b0b0b0;
            .box {
                display: none;
            }
            .ewm:hover {
                .box {
                    display: block
                }
            }
            .sep {
                font-size: 0.5em;
                color: #424242;
            }
        }
        .topbar-info {
            float: right;
            margin-right: 15px;
        }
        .topbar-cart {
            float: right;
            width: 120px;
            background: #424242;
            text-align: center;
            a {
                position: relative;
                z-index: 32;
                display: block;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #b0b0b0;
                background: #424242;
                i {
                    font-size: 18px;
                }
            }
        }
    }
}

// logo图标栏
.site-header {
    position: relative;
    z-index: 20;
    height: 100px;
    .container {
        width: 1226px;
        margin: 0 auto;
        position: relative;
        .header-logo {
            float: left;
            width: 62px;
            margin-top: 22px;
            // logo图
            .logo {
                position: relative;
                display: block;
                width: 55px;
                height: 55px;
                overflow: hidden;
                background-color: #ff6700;
                background: url(../img/logo.png) no-repeat 50% 50%;
            }
        }
        // 二级导航
        .header-nav {
            float: left;
            width: 720px;
            margin-left: 120px;
            .nav-list {
                position: relative;
                z-index: 10;
                float: left;
                width: 690px;
                height: 88px;
                margin: 0;
                padding: 12px 0 0 30px;
                list-style-type: none;
                font-size: 16px;
                li {
                    float: left;
                    .link {
                        text-decoration: none;
                        display: block;
                        padding: 26px 10px 38px;
                        color: #333;
                    }
                }
            }
        }
        // 搜索框
        .header-search {
            float: right;
            width: 260px;
            .search-form {
                position: relative;
                width: 260px;
                height: 50px;
                .search-text {
                    position: absolute;
                    top: 24px;
                    right: 50px;
                    z-index: 1;
                    width: 223px;
                    height: 48px;
                    padding: 0 10px;
                    border: 1px solid #e0e0e0;
                    font-size: 14px;
                    line-height: 48px;
                    outline: 0;
                    transition: all .2s;
                }
                .search-btn {
                    position: absolute;
                    right: 0;
                    top: 24px;
                    z-index: 2;
                    width: 51px;
                    height: 48px;
                    border: 1px solid #e0e0e0;
                    font-size: 24px;
                    line-height: 24px;
                    background: #fff;
                    color: #616161;
                    outline: 0;
                    transition: all .2s;
                }
            }
        }
    }
}

// 轮播图图标
.lunbo {
    position: relative;
    .slide {
        position: relative;
        .lbtb-left {
            display: inline-block;
            width: 41px;
            height: 69px;
            position: absolute;
            top: 48%;
            left: 240px;
            font-size: 50px;
            &:hover {
                background-color: #757575;
            }
        }
        .lbtb-right {
            display: inline-block;
            width: 41px;
            height: 69px;
            position: absolute;
            top: 47%;
            right: 50px;
            font-size: 50px;
            &:hover {
                background-color: #757575;
            }
        }
    }
    .site-category {
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        height: 450px;
        z-index: 21;
        font-size: 14px;
        .site-category-list {
            background: rgba(0, 0, 0, 0.6);
            padding: 18px 0 22px;
            width: 240px;
            height: 450px;
            &>li {
                font-size: 14px;
                width: 240px;
                height: 42px;
                line-height: 42px;
                padding-left: 30px;
                &:nth-child(1):hover .two-list-two {
                    display: block;
                }
                &:nth-child(2):hover .two-list-three {
                    display: block;
                }
                &:nth-child(3):hover .two-list-four {
                    display: block;
                }
                &:nth-child(4):hover .two-list-five {
                    display: block;
                }
                &:nth-child(5):hover .two-list-six {
                    display: block;
                }
                &:nth-child(6):hover .two-list-seven {
                    display: block;
                }
                &:nth-child(7):hover .two-list-eight {
                    display: block;
                }
                &:nth-child(8):hover .two-list-nine {
                    display: block;
                }
                &:nth-child(9):hover .two-list-ten {
                    display: block;
                }
                &:nth-child(10):hover .two-list-e {
                    display: block;
                }
                &:hover {
                    background: #ff6700;
                }
                i {
                    color: white;
                    margin-left: 80px;
                }
                a {
                    display: inline-block;
                    width: 90px;
                    color: white;
                    height: 42px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .two-list-two {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-three {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-four {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-five {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-six {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-seven {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-eight {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-nine {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-ten {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .two-list-e {
                    position: absolute;
                    left: 240px;
                    top: 0;
                    z-index: 24;
                    height: 450px;
                    border: 1px solid #e0e0e0;
                    border-left: 0;
                    background: #fff;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
                    display: none;
                    .two-list-one {
                        width: 920px;
                        height: 450px;
                        float: left;
                        li {
                            float: left;
                            a {
                                width: 230px;
                                height: 75px;
                                padding: 20px 0 0 30px;
                                &:hover span {
                                    color: #ff6700;
                                }
                                span {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.box1 {
    width: 100%;
    margin-top: 15px;
    .span4 {
        width: 240px;
        float: left;
        padding: 3px;
        .home-channel-list {
            margin: 0;
            padding: 0 6px;
            font-size: 12px;
            text-align: center;
            background: #5f5750;
            li {
                width: 72px;
                height: 82px;
                float: left;
                border-right: 1px solid #665e57;
                border-bottom: 1px solid #665e57;
                a {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.7);
                    &:hover {
                        text-decoration: none;
                    }
                }
                i {
                    display: block;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    margin-top: 18px;
                }
            }
        }
    }
    .span16 {
        float: right;
        padding: 3px 0;
        li {
            margin-left: 10px;
            float: left;
            &:nth-child(1) {
                margin-left: 0;
            }
            img {
                width: 308px;
                height: 164px;
            }
        }
    }
}

.rainbow {
    float: left;
    .rainbow-item-one {
        text-align: center;
        width: 240px;
        height: 340px;
        background: #f1eded;
        border-top: 1px solid #e53935;
        padding-top: 50px;
        .p-nub1 {
            font-size: 21px;
            color: #EF3A3B;
            margin-bottom: 30px;
        }
        .p-nub2 {
            font-size: 15px;
            color: rgba(0, 0, 0, 0.54);
            margin-top: 30px;
        }
        span {
            display: inline-block;
            color: #333;
            font-size: 18px;
            &:nth-child(1) {
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #757575;
                color: white;
            }
            &:nth-child(3) {
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #757575;
                color: white;
            }
            &:nth-child(5) {
                width: 40px;
                height: 40px;
                line-height: 40px;
                background: #757575;
                color: white;
            }
        }
    }
}

.big {
    float: right;
    li {
        float: left;
        width: 228px;
        height: 340px;
        background: rgba(0, 0, 0, 0.02);
        text-align: center;
        padding-top: 40px;
        margin-left: 10px;
        &:nth-child(1) {
            border-top: 1px solid #ff6700;
        }
        &:nth-child(2) {
            border-top: 1px solid green;
        }
        &:nth-child(3) {
            border-top: 1px solid blue;
        }
        &:nth-child(4) {
            border-top: 1px solid rgb(238, 130, 7);
        }
        a {
            &:hover {
                text-decoration: none;
            }
            img {
                width: 150px;
                height: 150px;
            }
            p:nth-child(2) {
                color: black;
                font-size: 16px;
                margin-top: 50px;
            }
            p:nth-child(3) {
                color: #757575;
                font-size: 12px;
            }
            p:nth-child(4) {
                color: rgb(236, 32, 42);
                font-size: 12px;
            }
        }
    }
}

.main {
    width: 100%;
    background: #f5f5f5;
    padding-bottom: 10px;
    .box-left {
        float: left;
        transition: all .2s linear;
        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
        }
    }
    .box-right {
        float: right;
        width: 940px;
        li {
            float: right;
            width: 228px;
            height: 300px;
            background: white;
            text-align: center;
            margin-bottom: 13px;
            margin-left: 7px;
            transition: all .2s linear;
            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
            }
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
    .home-appliances {
        margin-top: 25px;
        .home-appliances-list li {
            float: left;
            width: 229px;
            height: 300px;
            background: white;
            text-align: center;
            margin-bottom: 13px;
            margin-left: 10px;
            transition: all .2s linear;
            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
            }
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
    .tuijian {
        margin-top: 25px;
        margin-bottom: 20px;
        .tuijian-list li {
            float: left;
            width: 229px;
            height: 300px;
            background: white;
            text-align: center;
            margin-bottom: 13px;
            margin-left: 10px;
            transition: all .2s linear;
            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
            }
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}