.banner {
  width: 1226px;
  margin: 0 auto;
}

.site-header {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  overflow: hidden;
}

.site-header .logo {
  float: left;
  margin: 26px 30px 26px 0;
}

.site-header .logo img {
  width: 48px;
  height: 48px;
}

.site-header .header-title {
  overflow: hidden;
  float: left;
  margin-top: 26px;
}

.site-header .header-title h2 {
  float: left;
  line-height: 48px;
  font-size: 28px;
  font-weight: normal;
  color: #424242;
}

.site-header .header-title p {
  height: 48px;
  margin-left: 20px;
  float: left;
  padding-top: 24px;
  color: #757575;
}

.site-header .topbar-info {
  float: right;
  line-height: 100px;
}

.site-header .topbar-info a {
  color: #b0b0b0;
  margin-left: 5px;
}

.site-header .topbar-info span {
  margin-left: 5px;
}

.main {
  background: #f5f5f5;
  padding: 20px 0 10px;
}

.main .box-one {
  background: #fff;
  height: 70px;
  line-height: 70px;
  padding-right: 26px;
  color: #424242;
}

.main .box-one .box-one-ck {
  width: 20px;
  height: 20px;
  margin: 25px 15px 25px 24px;
}

.main .box-one span {
  display: inline-block;
  font-size: 14px;
  color: #424242;
  line-height: 30px;
  vertical-align: top;
  margin-top: 20px;
}

.main .box-one span:nth-child(2) {
  margin-left: 8px;
  margin-right: 140px;
}

.main .box-one span:nth-child(3) {
  margin-right: 320px;
}

.main .box-one span:nth-child(4) {
  margin-right: 160px;
}

.main .box-one span:nth-child(5) {
  margin-right: 160px;
}

.main .box-one span:nth-child(6) {
  margin-right: 120px;
}

.main .box-two-list {
  height: 90px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.main .box-two-list .box-two-ck {
  float: left;
  width: 20px;
  height: 20px;
  margin: 35px 75px 35px 24px;
}

.main .box-two-list .p-title {
  float: left;
  margin-right: 45px;
}

.main .box-two-list .p-title img {
  float: left;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.main .box-two-list .p-title h3 {
  float: left;
}

.main .box-two-list .p-title h3 a {
  display: inline-block;
  width: 320px;
  color: #424242;
  font-size: 18px;
  font-weight: normal;
  line-height: 90px;
}

.main .car-bar {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.main .car-bar .car-bar-one {
  float: right;
}

.main .car-bar span {
  display: inline-block;
  color: #ff6700;
  line-height: 50px;
}

.main .car-bar a {
  display: inline-block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  margin-left: 50px;
  vertical-align: top;
  color: #fff;
  background: #ff6700;
  text-align: center;
  margin-left: 30px;
}

.main .cart-recommend {
  margin: 60px 0;
}

.main .cart-recommend h2 {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}

.main .cart-recommend h2 span {
  position: absolute;
  top: -20px;
  left: 372px;
  height: 40px;
  width: 482px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}

.main .cart-recommend .home-appliances {
  margin-top: 25px;
  overflow: hidden;
}

.main .cart-recommend .home-appliances .home-appliances-list {
  overflow: hidden;
}

.main .cart-recommend .home-appliances .home-appliances-list li {
  float: left;
  width: 229px;
  height: 300px;
  background: white;
  text-align: center;
  margin-bottom: 13px;
  margin-left: 10px;
  transition: all .2s linear;
}

.main .cart-recommend .home-appliances .home-appliances-list li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.main .cart-recommend .home-appliances .home-appliances-list li a {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

.main .cart-recommend .home-appliances .home-appliances-list li a:hover {
  text-decoration: none;
}

.main .cart-recommend .home-appliances .home-appliances-list li a img {
  width: 160px;
  height: 160px;
}

.main .cart-recommend .home-appliances .home-appliances-list li a .price {
  margin: 10px 0;
}

.footer {
  margin-top: 10px;
}

.footer .footer-sercice {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #e0e0e0;
}

.footer .footer-sercice li {
  float: left;
  width: 238px;
  border-right: 1px solid #e0e0e0;
  height: 25px;
  line-height: 25px;
  margin-top: 24px;
  text-align: center;
}

.footer .footer-sercice li i {
  font-size: 24px;
  margin-right: 8px;
}

.footer .footer-sercice li a {
  color: #616161;
  font-size: 16px;
}

.footer .footer-sercice li a:hover {
  color: #ff6700;
  text-decoration: none;
}

.footer .footer-links {
  margin-top: 0;
  padding: 20px 0;
}

.footer .footer-links .links-left {
  width: 960px;
  float: left;
}

.footer .footer-links .links-left div {
  float: left;
  width: 160px;
  height: 112px;
}

.footer .footer-links .links-left div p {
  font-size: 14px;
  color: #757575;
  margin: 13px 0;
}

.footer .footer-links .links-right {
  float: right;
  width: 221px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
  font-size: 12px;
  height: 152px;
}

.footer .footer-links .links-right .phone {
  margin: 30px 0 5px;
  font-size: 22px;
  color: #ff6700;
  text-align: center;
}

.footer .footer-links .links-right a {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff6700;
  text-decoration: none;
  color: #ff6700;
  margin: 10px 0 0 50px;
}

.footer .site-info {
  background: #fafafa;
  padding: 20px 0 20px;
}

.footer .site-info .logo-left {
  float: left;
  margin-right: 10px;
}

.footer .site-info .info-text-right {
  float: left;
}

.footer .site-info .info-text-right p {
  margin: 0;
  line-height: 18px;
  font-size: 12px;
}

.footer .site-info .info-text-right .sites {
  color: #757575;
}

.footer .site-info .info-text-right .text-list {
  color: #b0b0b0;
}

.footer .site-info .info-text-right .info-links img {
  width: 85px;
  height: 28px;
}

.footer .site-info .slogan {
  clear: both;
  margin: 30px auto 0;
  width: 267px;
  height: 19px;
  background: url(../img/logan2019.png) no-repeat center 0;
}
